# PostgreSQL connection variables
# Copy this to .env and update with your actual values

DB_HOST=dpg-d8esfa4p3tds738ugv9g-a
DB_USER=space_shooting_game_database_user
DB_PASSWORD=wp4FWdE17I0TWScFDYXyD8E8L5xSuf90
DB_NAME=space_shooting_game_database
DB_PORT=5432
